:root {
    --accent-yellow: #ecec27;
  }

tbody > tr:nth-of-type(odd) {
    background-color: #fafafa;
}

tbody > tr:nth-of-type(even) {
    background-color: var(--accent-yellow);
}

thead,
tfoot {
  background-color: var(--accent-yellow);
}

th {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--accent-yellow);
    margin-left: 20px; /* The space outside of the border */
    margin-right: 20px;
  }
  
caption {
    caption-side: top;
    font-family: sans-serif;
    padding: 10px;
    font-style: italic;
}
