.sidebar {
    background-color: #f0f0f0;
    width: 200px; /* Adjust the width as needed */
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow-y: auto; /* Enables vertical scrolling within the sidebar */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #cdc6c6;
}

.current-page {
    font-weight: bold;
}
